
header{
   background-color: rgb(0, 194, 191);
   text-align: center;
}

h1{
    color: white;
}

h2{
    color: white;
}

main{
    background-color: lightgray;

    padding: 1em;
}

body {
    background-image: url("record.png");
    background-repeat: repeat;

    margin: 0px;
 }

